.hero {
  background: url("../assets/images/background.JPG") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $white;
  text-align: center;
  padding: 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: $overlay;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.5rem;
  }
}

.text-head {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    font-family: $font-family-base;
    color: $primary;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  a {
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    font-family: $font-family-base;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }
}


.featured-ads {
  width: 90%;
  margin-bottom: 50px;

  .featured-ads-swiper {
    width: auto;
    height: auto;

    .swiper-wrapper {
      width: auto;

      .feature-card {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        box-shadow: $shadow;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 20px;
        transition: all 0.3s ease-in-out;

        .card {
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.03);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 20px;
          }

          .card-body {
            padding: 0;

            .card-title {
              font-size: 1.3rem;
              font-weight: 900;
              font-family: $font-family-base;
              color: $primary;
              margin-bottom: 10px;
            }

            .card-location {
              font-size: 1rem;
              font-weight: 600;
              font-family: $font-family-base;
              color: #64707c;
              margin-bottom: 10px;
            }

            .card-infos {
              width: 100%;
              height: auto;
              display: flex;
              margin-bottom: 10px;

              span {
                display: -webkit-flex;
                display: -moz-box;
                display: flex;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                flex-direction: row;
                -webkit-align-items: center;
                -moz-box-align: center;
                align-items: center;
                margin-right: 10px;
                color: #5d717e;
                font-size: 14px;
              }
            }

            .card-price {
              font-size: 1.3rem;
              font-weight: 900;
              font-family: $font-family-base;
              color: $primary;
              margin-bottom: 10px;
            }

            a {
              text-decoration: none;
              color: $primary;
              font-size: 1rem;
              font-weight: 600;
              font-family: $font-family-base;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $primary-dark;
              }
            }
          }
        }
      }
    }

    .swiper-button-next {
      color: $primary;
      font-size: 1.5rem;
      font-weight: 900;
      font-family: $font-family-base;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $primary-dark;
      }
    }

    .swiper-button-prev {
      color: $primary;
      font-size: 1.5rem;
      font-weight: 900;
      font-family: $font-family-base;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $primary-dark;
      }
    }
  }
}

.sidebar-container {
  width: 250px;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  box-shadow: $shadow;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 100px 20px 20px 20px;
  transition: all 0.3s ease-in-out;

  .sidebar-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    font-family: $font-family-base;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    span {
      margin-left: 10px;
    }

    &:hover {
      color: $primary-dark;
    }
  }

  .sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .sidebar-content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 20px;
      color: $primary;

      .category {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .category-head {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;

          .category-icon {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            font-size: 1.1rem;
            font-weight: 600;
          }

          .category-title-text {
            font-size: 1rem;
            font-weight: 900;
            font-family: $font-family-base;
          }
        }

        hr {
          width: 100%;
          height: 1px;
          border-color: #ffffff;
          margin-bottom: 20px;
        }

        .category-content {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          color: $primary;

          .category-content-item-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            .category-content-item {
              width: 100%;
              height: auto;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 10px;
              cursor: pointer;

              div {
                display: flex;
                justify-content: center;
                align-items: center;

                .category-content-item-icon {
                  width: 30px;
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 10px;
                  border-radius: 50%;
                  background-color: $primary;
                  color: $white;
                  font-size: 1.1rem;
                  font-weight: 600;
                }

                .category-content-item-text {
                  font-size: 1rem;
                  font-weight: 900;
                  font-family: $font-family-base;
                }

                .expand-content {
                  font-size: 1.2rem;
                  margin-left: 10px;
                  rotate: -90deg;
                  transition: all 0.3s ease-in-out;
                }

                .active-expand {
                  rotate: 0deg !important;
                }
              }
            }

            .sub-category-items {
              width: 100%;
              height: auto;
              overflow: hidden;
              display: none;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-bottom: 10px;
              padding-left: 20px;
              transition: all 0.3s ease-in-out;

              .sub-category-item {
                margin-bottom: 10px;

                .sub-category-item-text {
                  font-size: 1rem;
                  font-weight: 600;
                  font-family: $font-family-base;
                  margin-bottom: 30px;
                  cursor: pointer;
                  transition: all 0.3s ease-in-out;

                  &:hover {
                    color: $secondary;
                  }
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            .active-sub-items {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  .sidebar-line {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
}

.prm-button {
  a {
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    font-family: $font-family-base;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }

  button {
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    font-family: $font-family-base;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;

    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }
}