.all-features-container {
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 270px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    .feature-card {
        padding: 20px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
            transform: scale(1.02);
        }

        .card {
            cursor: pointer;



            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            .card-body {
                padding: 0;

                .card-title {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                .card-location {
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: $font-family-base;
                    color: #64707c;
                    margin-bottom: 10px;
                }

                .card-infos {
                    width: 100%;
                    height: auto;
                    display: flex;
                    margin-bottom: 10px;

                    span {
                        display: -webkit-flex;
                        display: -moz-box;
                        display: flex;
                        -webkit-flex-direction: row;
                        -moz-box-orient: horizontal;
                        -moz-box-direction: normal;
                        flex-direction: row;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        align-items: center;
                        margin-right: 10px;
                        color: #5d717e;
                        font-size: 14px;
                    }
                }

                .card-price {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                a {
                    text-decoration: none;
                    color: $primary;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: $font-family-base;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $primary-dark;
                    }
                }
            }
        }
    }

}


.ilan-container {
    width: 100%;
    height: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .images-container {
        padding: 0 60px 0 60px;
        margin-bottom: 100px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .main-image {
            width: 50%;
            margin-right: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        .other-images {
            width: 50%;
            height: 100%;
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            grid-gap: 10px;

            img {
                cursor: pointer;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                justify-content: space-around;
            }
        }
    }

    .details-container {
        width: 100%;
        height: 100%;
        padding: 0 60px 0 60px;
        display: flex;
        position: relative;
        justify-content: space-around;

        .left-side {
            width: 70%;
            height: 100%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .advert-title{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;

                h1 {
                    font-size: 1.8rem;
                    font-weight: bolder;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 2rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }
            }
            .advert-informations {
                margin-bottom: 30px;
                background-color: $white;
                box-shadow: $shadow;
                border-radius: 10px;
                width: 100%;
                min-height: 300px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 20px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                hr {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    opacity: 0.5;
                    margin-top: 10px;
                    margin: 20px 0 20px 0;
                }

                .information {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template: 1fr / 1fr 1fr;
                    grid-gap: 10px;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 20px;
                        background-color: #f5f5f5;

                        .no {
                            color: $primary !important;
                        }

                        .quest {
                            font-size: 1rem;
                            font-weight: 900;
                            text-align: center;
                            font-family: $font-family-base;
                            color: #64707c;
                        }

                        .response {
                            font-size: .9rem;
                            font-weight: 700;
                            text-align: center;
                            color: #223445;
                            font-family: $font-family-base;
                        }
                    }
                }
            }

            .advert-explain {
                margin-bottom: 30px;
                background-color: $white;
                box-shadow: $shadow;
                border-radius: 10px;
                width: 100%;
                min-height: 300px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 20px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                hr {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    opacity: 0.5;
                    margin-top: 10px;
                    margin: 20px 0 20px 0;
                }

                p {
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: left;
                    line-height: 1.5;
                    color: #223445;
                    font-family: $font-family-base;

                }
            }

            .advert-features {
                background-color: $white;
                box-shadow: $shadow;
                border-radius: 10px;
                width: 100%;
                min-height: 300px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 20px;

                h3 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 10px;
                }

                hr {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    opacity: 0.5;
                    margin-top: 10px;
                    margin: 20px 0 20px 0;
                }

                .features {
                    width: 100%;
                    height: auto;
                    max-height: 300px;
                    display: grid;
                    height: 100%;
                    grid-template: 1fr / 1fr 1fr 1fr;
                    grid-gap: 10px;
                    overflow: auto;

                    .feature {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px 20px;
                        border-right: 1px solid #e6e6e6;

                        .feature-icon {
                            color: $primary !important;
                        }

                        .feature-text {
                            font-size: 1rem;
                            font-weight: 900;
                            text-align: center;
                            font-family: $font-family-base;
                            color: #64707c;
                            margin-left: 20px;
                        }
                    }

                }
            }
        }

        .right-side {
            width: 30%;
            min-height: 600px;
            margin-left: 20px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 180px;
            right: 0;
            box-shadow: $shadow;
            border-radius: 10px;
            padding: 20px;
        }
    }
}

.auth-container {
    width: 100%;
    height: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .auth-form {
        width: 80%;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 180px;
        right: 0;
        box-shadow: $shadow;
        border-radius: 10px;
        min-height: 600px;
        padding: 20px;

        .auth-image {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .auth {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h4 {
                    font-size: 1.5rem;
                    font-weight: 900;
                    font-family: $font-family-base;
                    color: $primary;
                    margin-bottom: 20px;
                }

                .form-group {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 25px;

                    label {
                        width: 100%;
                        text-align: left;
                        padding-left: 10px;
                        font-size: 1rem;
                        font-weight: 900;
                        font-family: $font-family-base;
                        color: $primary;
                        margin-bottom: 10px;
                    }

                    input {
                        width: 100%;
                        height: 50px;
                        border: 1px solid #e6e6e6;
                        border-radius: 10px;
                        padding: 0 20px;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: $font-family-base;
                        color: #223445;
                        transition: all 0.3s ease-in-out;

                        &:focus {
                            border: 1px solid $primary;
                        }
                    }
                }

                .no-account {
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: $font-family-base;
                    color: #223445;
                    margin-bottom: 20px;
                    text-align: center;
                    margin-top: 20px;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $primary;
                    }

                    span {
                        font-weight: 900;
                        color: $primary !important;
                    }
                }
            }
        }
    }
}